Import bibliotek

In [4]:
import pandas as pd
from sqlalchemy import create_engine
import seaborn as sb
import matplotlib as plt
import pyarrow as pa

Import danych z bazy danych

In [5]:
connection_string = (
    "mssql+pyodbc://localhost/DiamondsDB"
    "?driver=ODBC+Driver+17+for+SQL+Server"
    "&trusted_connection=yes"
)
engine = create_engine(connection_string)
query = "SELECT * FROM DIAMONDS_CLEANED"
df_diamonds = pd.read_sql_query(query, engine)
df_diamonds.head(15)

,Id,Carat,Cut,Color,Clarity,Depth,TableColumn,Price,X,Y,Z
0,1,0.23,Ideal,E,SI2,61.500000,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.799999,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.900002,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.400002,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.299999,58.0,335,4.34,4.35,2.75
5,6,0.24,very Good,J,VVS2,62.799999,57.0,336,3.94,3.96,2.48
6,7,0.24,very Good,I,VVS1,62.299999,57.0,336,3.95,3.98,2.47
7,8,0.26,very Good,H,SI1,61.900002,55.0,337,4.07,4.11,2.53
8,9,0.22,Fair,E,VS2,65.099998,61.0,337,3.87,3.78,2.49
9,10,0.23,very Good,H,VS1,59.400002,61.0,338,4.00,4.05,2.39
10,11,0.30,Good,J,SI1,64.000000,55.0,339,4.25,4.28,2.73
11,12,0.23,Ideal,J,VS1,62.799999,56.0,340,3.93,3.90,2.46
12,14,0.31,Ideal,J,SI2,62.200001,54.0,344,4.35,4.37,2.71
13,15,0.20,Premium,E,SI2,60.200001,62.0,345,3.79,3.75,2.27
14,16,0.32,Premium,E,I1,60.900002,58.0,345,4.38,4.42,2.68

Sprawdzenie typów danych i pustych wierszy. Usuniecie pustych wierszy.

In [3]:
df_diamonds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44398 entries, 0 to 44397
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Id           44398 non-null  int64
 1   Carat        44398 non-null  float64
 2   Cut          44398 non-null  object
 3   Color        44398 non-null  object
 4   Clarity      44398 non-null  object
 5   Depth        44398 non-null  float64
 6   TableColumn  44398 non-null  float64
 7   Price        44398 non-null  int64
 8   X            44398 non-null  float64
 9   Y            44398 non-null  float64
 10  Z            44398 non-null  float64
dtypes: float64(6), int64(2), object(3)
memory usage: 3.7+ MB

In [4]:
# Sprawdzenie, czy są wartości null
print("Czy dane zawierają wartości null?")
print(df_diamonds.isnull().sum())

# Usunięcie wierszy zawierających wartości null
df_diamonds = df_diamonds.dropna()

Czy dane zawierają wartości null?
Id             0
Carat          0
Cut            0
Color          0
Clarity        0
Depth          0
TableColumn    0
Price          0
X              0
Y              0
Z              0
dtype: int64

Zmiana nazw kolumn

In [5]:
df_diamonds.columns = ['Index', 'Carat','Cut', 'Color', 'Clarity', 'Depth', 'Table', 'Price', 'x', 'y', 'z']
df_diamonds.head(15)

,Index,Carat,Cut,Color,Clarity,Depth,Table,Price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
5,6,0.24,very Good,J,VVS2,62.8,57.0,336,3.94,3.96,2.48
6,7,0.24,very Good,I,VVS1,62.3,57.0,336,3.95,3.98,2.47
7,8,0.26,very Good,H,SI1,61.9,55.0,337,4.07,4.11,2.53
8,9,0.22,Fair,E,VS2,65.1,61.0,337,3.87,3.78,2.49
9,10,0.23,very Good,H,VS1,59.4,61.0,338,4.00,4.05,2.39
10,11,0.30,Good,J,SI1,64.0,55.0,339,4.25,4.28,2.73
11,12,0.23,Ideal,J,VS1,62.8,56.0,340,3.93,3.90,2.46
12,14,0.31,Ideal,J,SI2,62.2,54.0,344,4.35,4.37,2.71
13,15,0.20,Premium,E,SI2,60.2,62.0,345,3.79,3.75,2.27
14,16,0.32,Premium,E,I1,60.9,58.0,345,4.38,4.42,2.68

In [6]:
df_diamonds["Size"] = df_diamonds["x"]*df_diamonds["y"]*df_diamonds["z"]
df_diamonds["Size"] = df_diamonds["Size"].round(2)
df_diamonds.head(15)

,Index,Carat,Cut,Color,Clarity,Depth,Table,Price,x,y,z,Size
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,38.20
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,34.51
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,38.08
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,46.72
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,51.92
5,6,0.24,very Good,J,VVS2,62.8,57.0,336,3.94,3.96,2.48,38.69
6,7,0.24,very Good,I,VVS1,62.3,57.0,336,3.95,3.98,2.47,38.83
7,8,0.26,very Good,H,SI1,61.9,55.0,337,4.07,4.11,2.53,42.32
8,9,0.22,Fair,E,VS2,65.1,61.0,337,3.87,3.78,2.49,36.43
9,10,0.23,very Good,H,VS1,59.4,61.0,338,4.00,4.05,2.39,38.72
10,11,0.30,Good,J,SI1,64.0,55.0,339,4.25,4.28,2.73,49.66
11,12,0.23,Ideal,J,VS1,62.8,56.0,340,3.93,3.90,2.46,37.70
12,14,0.31,Ideal,J,SI2,62.2,54.0,344,4.35,4.37,2.71,51.52
13,15,0.20,Premium,E,SI2,60.2,62.0,345,3.79,3.75,2.27,32.26
14,16,0.32,Premium,E,I1,60.9,58.0,345,4.38,4.42,2.68,51.88

In [35]:
cut_mapping = {
    "Ideal": 5,
    "Premium": 4,
    "very Good": 3,
    "Good": 2,
    "Fair": 1
}
df_diamonds["Cut_number_classification"] = df_diamonds["Cut"].map(cut_mapping)
df_diamonds.head(15)

,Index,Carat,Cut,Color,Clarity,Depth,Table,Price,x,y,z,Size,Cut_number_classification,Color_number_classification,Clarity_number_classification
0,1,"0,23",Ideal,E,SI2,"61,5","55,0",326,"3,95","3,98","2,43","38,2",5,6,2
1,2,"0,21",Premium,E,SI1,"59,8","61,0",326,"3,89","3,84","2,31","34,51",4,6,3
2,3,"0,23",Good,E,VS1,"56,9","65,0",327,"4,05","4,07","2,31","38,08",2,6,5
3,4,"0,29",Premium,I,VS2,"62,4","58,0",334,"4,2","4,23","2,63","46,72",4,2,4
4,5,"0,31",Good,J,SI2,"63,3","58,0",335,"4,34","4,35","2,75","51,92",2,1,2
5,6,"0,24",very Good,J,VVS2,"62,8","57,0",336,"3,94","3,96","2,48","38,69",3,1,6
6,7,"0,24",very Good,I,VVS1,"62,3","57,0",336,"3,95","3,98","2,47","38,83",3,2,7
7,8,"0,26",very Good,H,SI1,"61,9","55,0",337,"4,07","4,11","2,53","42,32",3,3,3
8,9,"0,22",Fair,E,VS2,"65,1","61,0",337,"3,87","3,78","2,49","36,43",1,6,4
9,10,"0,23",very Good,H,VS1,"59,4","61,0",338,"4,0","4,05","2,39","38,72",3,3,5
10,11,"0,3",Good,J,SI1,"64,0","55,0",339,"4,25","4,28","2,73","49,66",2,1,3
11,12,"0,23",Ideal,J,VS1,"62,8","56,0",340,"3,93","3,9","2,46","37,7",5,1,5
12,14,"0,31",Ideal,J,SI2,"62,2","54,0",344,"4,35","4,37","2,71","51,52",5,1,2
13,15,"0,2",Premium,E,SI2,"60,2","62,0",345,"3,79","3,75","2,27","32,26",4,6,2
14,16,"0,32",Premium,E,I1,"60,9","58,0",345,"4,38","4,42","2,68","51,88",4,6,1

In [8]:
color_mapping = {
    "D": 7,
    "E": 6,
    "F": 5,
    "G": 4,
    "H": 3,
    "I": 2,
    "J": 1
}
df_diamonds["Color_number_classification"] = df_diamonds["Color"].map(color_mapping)
df_diamonds.head(15)

,Index,Carat,Cut,Color,Clarity,Depth,Table,Price,x,y,z,Size,Cut_number_classification,Color_number_classification
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,38.20,5.0,6
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,34.51,4.0,6
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,38.08,2.0,6
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,46.72,4.0,2
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,51.92,2.0,1
5,6,0.24,very Good,J,VVS2,62.8,57.0,336,3.94,3.96,2.48,38.69,NaN,1
6,7,0.24,very Good,I,VVS1,62.3,57.0,336,3.95,3.98,2.47,38.83,NaN,2
7,8,0.26,very Good,H,SI1,61.9,55.0,337,4.07,4.11,2.53,42.32,NaN,3
8,9,0.22,Fair,E,VS2,65.1,61.0,337,3.87,3.78,2.49,36.43,1.0,6
9,10,0.23,very Good,H,VS1,59.4,61.0,338,4.00,4.05,2.39,38.72,NaN,3
10,11,0.30,Good,J,SI1,64.0,55.0,339,4.25,4.28,2.73,49.66,2.0,1
11,12,0.23,Ideal,J,VS1,62.8,56.0,340,3.93,3.90,2.46,37.70,5.0,1
12,14,0.31,Ideal,J,SI2,62.2,54.0,344,4.35,4.37,2.71,51.52,5.0,1
13,15,0.20,Premium,E,SI2,60.2,62.0,345,3.79,3.75,2.27,32.26,4.0,6
14,16,0.32,Premium,E,I1,60.9,58.0,345,4.38,4.42,2.68,51.88,4.0,6

In [9]:
clarity_mapping = {
    "IF": 8,
    "VVS1": 7,
    "VVS2": 6,
    "VS1": 5,
    "VS2": 4,
    "SI1": 3,
    "SI2": 2,
    "I1": 1
}
df_diamonds["Clarity_number_classification"] = df_diamonds["Clarity"].map(clarity_mapping)
df_diamonds.head(15)

,Index,Carat,Cut,Color,Clarity,Depth,Table,Price,x,y,z,Size,Cut_number_classification,Color_number_classification,Clarity_number_classification
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,38.20,5.0,6,2
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,34.51,4.0,6,3
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,38.08,2.0,6,5
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,46.72,4.0,2,4
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,51.92,2.0,1,2
5,6,0.24,very Good,J,VVS2,62.8,57.0,336,3.94,3.96,2.48,38.69,NaN,1,6
6,7,0.24,very Good,I,VVS1,62.3,57.0,336,3.95,3.98,2.47,38.83,NaN,2,7
7,8,0.26,very Good,H,SI1,61.9,55.0,337,4.07,4.11,2.53,42.32,NaN,3,3
8,9,0.22,Fair,E,VS2,65.1,61.0,337,3.87,3.78,2.49,36.43,1.0,6,4
9,10,0.23,very Good,H,VS1,59.4,61.0,338,4.00,4.05,2.39,38.72,NaN,3,5
10,11,0.30,Good,J,SI1,64.0,55.0,339,4.25,4.28,2.73,49.66,2.0,1,3
11,12,0.23,Ideal,J,VS1,62.8,56.0,340,3.93,3.90,2.46,37.70,5.0,1,5
12,14,0.31,Ideal,J,SI2,62.2,54.0,344,4.35,4.37,2.71,51.52,5.0,1,2
13,15,0.20,Premium,E,SI2,60.2,62.0,345,3.79,3.75,2.27,32.26,4.0,6,2
14,16,0.32,Premium,E,I1,60.9,58.0,345,4.38,4.42,2.68,51.88,4.0,6,1

Korelacje - wpływ wagi i cech jakosciowych na cenę.

In [10]:
correlation_price_carat = df_diamonds['Price'].corr(df_diamonds['Carat'])
print(f'The Pearson correlation coefficient between the price and carat is: {correlation_price_carat}')

correlation_price_cut = df_diamonds['Price'].corr(df_diamonds['Cut_number_classification'])
print(f'The Pearson correlation coefficient between the price and cut is: {correlation_price_cut}')

correlation_price_color = df_diamonds['Price'].corr(df_diamonds['Color_number_classification'])
print(f'The Pearson correlation coefficient between the price and color is: {correlation_price_color}')

correlation_price_clarity = df_diamonds['Price'].corr(df_diamonds['Clarity_number_classification'])
print(f'The Pearson correlation coefficient between the price and clarity is: {correlation_price_clarity}')

correlation_price_x = df_diamonds['Price'].corr(df_diamonds['x'])
print(f'The Pearson correlation coefficient between the price and x is: {correlation_price_x}')

correlation_price_y = df_diamonds['Price'].corr(df_diamonds['y'])
print(f'The Pearson correlation coefficient between the price and y is: {correlation_price_y}')

correlation_price_z = df_diamonds['Price'].corr(df_diamonds['z'])
print(f'The Pearson correlation coefficient between the price and z is: {correlation_price_z}')

correlation_price_size = df_diamonds['Price'].corr(df_diamonds['Size'])
print(f'The Pearson correlation coefficient between the price and size is: {correlation_price_size}')

correlation_price_depth = df_diamonds['Price'].corr(df_diamonds['Depth'])
print(f'The Pearson correlation coefficient between the price and depth is: {correlation_price_depth}')

correlation_price_table = df_diamonds['Price'].corr(df_diamonds['Table'])
print(f'The Pearson correlation coefficient between the price and table is: {correlation_price_table}')

correlations_price = {
    'Carat': correlation_price_carat,
    'Cut': correlation_price_cut,
    'Color': correlation_price_color,
    'Clarity': correlation_price_clarity,
    'x': correlation_price_x,
    'y': correlation_price_y,
    'z': correlation_price_z,
    'Size': correlation_price_size,
    'Depth': correlation_price_depth,
    'Table': correlation_price_table,
}

# Filtracja i wypisanie silnych korelacji
for key, value in correlations_price.items():
    if abs(value) > 0.8:
        print(f'Strong correlations exist between price and {key}. The Pearson correlation coefficient is: {value:.2f}')

The Pearson correlation coefficient between the price and carat is: 0.9251340382182667
The Pearson correlation coefficient between the price and cut is: -0.07069121461541629
The Pearson correlation coefficient between the price and color is: -0.1863946169805643
The Pearson correlation coefficient between the price and clarity is: -0.15627570013531725
The Pearson correlation coefficient between the price and x is: 0.8881950038976251
The Pearson correlation coefficient between the price and y is: 0.8654121865066813
The Pearson correlation coefficient between the price and z is: 0.8622538050318707
The Pearson correlation coefficient between the price and size is: 0.9028708259191013
The Pearson correlation coefficient between the price and depth is: -0.014580431203503217
The Pearson correlation coefficient between the price and table is: 0.13393100651297582
Strong correlations exist between price and Carat. The Pearson correlation coefficient is: 0.93
Strong correlations exist between price and x. The Pearson correlation coefficient is: 0.89
Strong correlations exist between price and y. The Pearson correlation coefficient is: 0.87
Strong correlations exist between price and z. The Pearson correlation coefficient is: 0.86
Strong correlations exist between price and Size. The Pearson correlation coefficient is: 0.90

In [11]:
# Przekształcanie słownika na data frame
df_correlations_price = pd.DataFrame.from_dict(correlations_price, orient='index', columns=['Correlation_price'])

# Resetowanie indeksu, aby dodać go jako kolumnę
df_correlations_price = df_correlations_price.reset_index()

# Zmiana nazw kolumn
df_correlations_price.columns = ['Category', 'Correlation_price']

df_correlations_price

  Category  Correlation_price
0    Carat           0.925134
1      Cut          -0.070691
2    Color          -0.186395
3  Clarity          -0.156276
4        x           0.888195
5        y           0.865412
6        z           0.862254
7     Size           0.902871
8    Depth          -0.014580
9    Table           0.133931

Korelacje pomiędzy wymiarami diamentów a ich jakością

In [12]:
correlation_carat_carat = df_diamonds['Carat'].corr(df_diamonds['Carat'])
print(f'The Pearson correlation coefficient between the carat and carat is: {correlation_carat_carat}')

correlation_carat_cut = df_diamonds['Carat'].corr(df_diamonds['Cut_number_classification'])
print(f'The Pearson correlation coefficient between the carat and cut is: {correlation_carat_cut}')

correlation_carat_color = df_diamonds['Carat'].corr(df_diamonds['Color_number_classification'])
print(f'The Pearson correlation coefficient between the carat and color is: {correlation_carat_color}')

correlation_carat_clarity = df_diamonds['Carat'].corr(df_diamonds['Clarity_number_classification'])
print(f'The Pearson correlation coefficient between the carat and clarity is: {correlation_carat_clarity}')

correlation_carat_depth = df_diamonds['Carat'].corr(df_diamonds['Depth'])
print(f'The Pearson correlation coefficient between the carat and depth is: {correlation_carat_depth}')

correlation_carat_table = df_diamonds['Carat'].corr(df_diamonds['Table'])
print(f'The Pearson correlation coefficient between the carat and table is: {correlation_carat_table}')

correlation_carat_size = df_diamonds['Carat'].corr(df_diamonds['Size'])
print(f'The Pearson correlation coefficient between the carat and size is: {correlation_carat_size}')

correlations_carat = {
    'Carat': correlation_carat_carat,
    'Cut': correlation_carat_cut,
    'Color': correlation_carat_color,
    'Clarity': correlation_carat_clarity,
    'Depth': correlation_carat_depth,
    'Table': correlation_carat_table,
    'Size': correlation_carat_size,
    }

# Filtracja i wypisanie silnych korelacji
for key, value in correlations_carat.items():
    if abs(value) > 0.8:
        print(f'Strong correlations exist between carat and {key}. The Pearson correlation coefficient is: {value:.2f}')

The Pearson correlation coefficient between the carat and carat is: 1.0
The Pearson correlation coefficient between the carat and cut is: -0.16657994441306803
The Pearson correlation coefficient between the carat and color is: -0.305724759924252
The Pearson correlation coefficient between the carat and clarity is: -0.350118798368273
The Pearson correlation coefficient between the carat and depth is: 0.023627717737119167
The Pearson correlation coefficient between the carat and table is: 0.18531753602149606
The Pearson correlation coefficient between the carat and size is: 0.9732552295328343
Strong correlations exist between carat and Carat. The Pearson correlation coefficient is: 1.00
Strong correlations exist between carat and Size. The Pearson correlation coefficient is: 0.97

In [13]:
correlation_cut_carat = df_diamonds['Cut_number_classification'].corr(df_diamonds['Carat'])
print(f'The Pearson correlation coefficient between the cut and carat is: {correlation_cut_carat}')

correlation_cut_cut = df_diamonds['Cut_number_classification'].corr(df_diamonds['Cut_number_classification'])
print(f'The Pearson correlation coefficient between the cut and cut is: {correlation_cut_cut}')

correlation_cut_color = df_diamonds['Cut_number_classification'].corr(df_diamonds['Color_number_classification'])
print(f'The Pearson correlation coefficient between the cut and color is: {correlation_cut_color}')

correlation_cut_clarity = df_diamonds['Cut_number_classification'].corr(df_diamonds['Clarity_number_classification'])
print(f'The Pearson correlation coefficient between the cut and clarity is: {correlation_cut_clarity}')

correlation_cut_depth = df_diamonds['Cut_number_classification'].corr(df_diamonds['Depth'])
print(f'The Pearson correlation coefficient between the cut and depth is: {correlation_cut_depth}')

correlation_cut_table = df_diamonds['Cut_number_classification'].corr(df_diamonds['Table'])
print(f'The Pearson correlation coefficient between the cut and table is: {correlation_cut_table}')

correlation_cut_size = df_diamonds['Cut_number_classification'].corr(df_diamonds['Size'])
print(f'The Pearson correlation coefficient between the cut and size is: {correlation_cut_size}')

correlations_cut = {
    'Carat': correlation_cut_carat,
    'Cut': correlation_cut_cut,
    'Color': correlation_cut_color,
    'Clarity': correlation_cut_clarity,
    'Depth': correlation_cut_depth,
    'Table': correlation_cut_table,
    'Size': correlation_cut_size,
    }

# Filtracja i wypisanie silnych korelacji
for key, value in correlations_cut.items():
    if abs(value) > 0.8:
        print(f'Strong correlations exist between cut and {key}. The Pearson correlation coefficient is: {value:.2f}')

The Pearson correlation coefficient between the cut and carat is: -0.16657994441306803
The Pearson correlation coefficient between the cut and cut is: 1.0
The Pearson correlation coefficient between the cut and color is: 0.03604759064273003
The Pearson correlation coefficient between the cut and clarity is: 0.22089102829389387
The Pearson correlation coefficient between the cut and depth is: -0.2680387946103211
The Pearson correlation coefficient between the cut and table is: -0.4705226992889817
The Pearson correlation coefficient between the cut and size is: -0.14545056564118256
Strong correlations exist between cut and Cut. The Pearson correlation coefficient is: 1.00

In [14]:
correlation_color_carat = df_diamonds['Color_number_classification'].corr(df_diamonds['Carat'])
print(f'The Pearson correlation coefficient between the color and carat is: {correlation_color_carat}')

correlation_color_cut = df_diamonds['Color_number_classification'].corr(df_diamonds['Cut_number_classification'])
print(f'The Pearson correlation coefficient between the color and cut is: {correlation_color_cut}')

correlation_color_color = df_diamonds['Color_number_classification'].corr(df_diamonds['Color_number_classification'])
print(f'The Pearson correlation coefficient between the color and color is: {correlation_color_color}')

correlation_color_clarity = df_diamonds['Color_number_classification'].corr(df_diamonds['Clarity_number_classification'])
print(f'The Pearson correlation coefficient between the color and clarity is: {correlation_color_clarity}')

correlation_color_depth = df_diamonds['Color_number_classification'].corr(df_diamonds['Depth'])
print(f'The Pearson correlation coefficient between the color and depth is: {correlation_color_depth}')

correlation_color_table = df_diamonds['Color_number_classification'].corr(df_diamonds['Table'])
print(f'The Pearson correlation coefficient between the color and table is: {correlation_color_table}')

correlation_color_size = df_diamonds['Color_number_classification'].corr(df_diamonds['Size'])
print(f'The Pearson correlation coefficient between the color and size is: {correlation_color_size}')

correlations_color = {
    'Carat': correlation_color_carat,
    'Cut': correlation_color_cut,
    'Color': correlation_color_color,
    'Clarity': correlation_color_clarity,
    'Depth': correlation_color_depth,
    'Table': correlation_color_table,
    'Size': correlation_color_size,
    }

# Filtracja i wypisanie silnych korelacji
for key, value in correlations_color.items():
    if abs(value) > 0.8:
        print(f'Strong correlations exist between color and {key}. The Pearson correlation coefficient is: {value:.2f}')

The Pearson correlation coefficient between the color and carat is: -0.305724759924252
The Pearson correlation coefficient between the color and cut is: 0.03604759064273003
The Pearson correlation coefficient between the color and color is: 1.0
The Pearson correlation coefficient between the color and clarity is: -0.03311356683711517
The Pearson correlation coefficient between the color and depth is: -0.049646416103035336
The Pearson correlation coefficient between the color and table is: -0.028757161988127902
The Pearson correlation coefficient between the color and size is: -0.2972509134130981
Strong correlations exist between color and Color. The Pearson correlation coefficient is: 1.00

In [15]:
correlation_clarity_carat = df_diamonds['Clarity_number_classification'].corr(df_diamonds['Carat'])
print(f'The Pearson correlation coefficient between the clarity and carat is: {correlation_clarity_carat}')

correlation_clarity_cut = df_diamonds['Clarity_number_classification'].corr(df_diamonds['Cut_number_classification'])
print(f'The Pearson correlation coefficient between the clarity and cut is: {correlation_clarity_cut}')

correlation_clarity_color = df_diamonds['Clarity_number_classification'].corr(df_diamonds['Color_number_classification'])
print(f'The Pearson correlation coefficient between the clarity and color is: {correlation_clarity_color}')

correlation_clarity_clarity = df_diamonds['Clarity_number_classification'].corr(df_diamonds['Clarity_number_classification'])
print(f'The Pearson correlation coefficient between the clarity and clarity is: {correlation_clarity_clarity}')

correlation_clarity_depth = df_diamonds['Clarity_number_classification'].corr(df_diamonds['Depth'])
print(f'The Pearson correlation coefficient between the clarity and depth is: {correlation_clarity_depth}')

correlation_clarity_table = df_diamonds['Clarity_number_classification'].corr(df_diamonds['Table'])
print(f'The Pearson correlation coefficient between the clarity and table is: {correlation_clarity_table}')

correlation_clarity_size = df_diamonds['Clarity_number_classification'].corr(df_diamonds['Size'])
print(f'The Pearson correlation coefficient between the clarity and size is: {correlation_clarity_size}')

correlations_clarity = {
    'Carat': correlation_clarity_carat,
    'Cut': correlation_clarity_cut,
    'Color': correlation_clarity_color,
    'Clarity': correlation_clarity_clarity,
    'Depth': correlation_clarity_depth,
    'Table': correlation_clarity_table,
    'Size': correlation_clarity_size,
    }

# Filtracja i wypisanie silnych korelacji
for key, value in correlations_clarity.items():
    if abs(value) > 0.8:
        print(f'Strong correlations exist between clarity and {key}. The Pearson correlation coefficient is: {value:.2f}')

The Pearson correlation coefficient between the clarity and carat is: -0.35011879836827303
The Pearson correlation coefficient between the clarity and cut is: 0.2208910282938939
The Pearson correlation coefficient between the clarity and color is: -0.03311356683711517
The Pearson correlation coefficient between the clarity and clarity is: 0.9999999999999999
The Pearson correlation coefficient between the clarity and depth is: -0.06342472946543984
The Pearson correlation coefficient between the clarity and table is: -0.1558095571766949
The Pearson correlation coefficient between the clarity and size is: -0.3376594009594816
Strong correlations exist between clarity and Clarity. The Pearson correlation coefficient is: 1.00

In [16]:
correlation_depth_carat = df_diamonds['Depth'].corr(df_diamonds['Carat'])
print(f'The Pearson correlation coefficient between the depth and carat is: {correlation_depth_carat}')

correlation_depth_cut = df_diamonds['Depth'].corr(df_diamonds['Cut_number_classification'])
print(f'The Pearson correlation coefficient between the depth and cut is: {correlation_depth_cut}')

correlation_depth_color = df_diamonds['Depth'].corr(df_diamonds['Color_number_classification'])
print(f'The Pearson correlation coefficient between the depth and color is: {correlation_depth_color}')

correlation_depth_clarity = df_diamonds['Depth'].corr(df_diamonds['Clarity_number_classification'])
print(f'The Pearson correlation coefficient between the depth and clarity is: {correlation_depth_clarity}')

correlation_depth_depth = df_diamonds['Depth'].corr(df_diamonds['Depth'])
print(f'The Pearson correlation coefficient between the depth and depth is: {correlation_depth_depth}')

correlation_depth_table = df_diamonds['Depth'].corr(df_diamonds['Table'])
print(f'The Pearson correlation coefficient between the depth and table is: {correlation_depth_table}')

correlation_depth_size = df_diamonds['Depth'].corr(df_diamonds['Size'])
print(f'The Pearson correlation coefficient between the depth and size is: {correlation_depth_size}')

correlations_depth = {
    'Carat': correlation_depth_carat,
    'Cut': correlation_depth_cut,
    'Color': correlation_depth_color,
    'Clarity': correlation_depth_clarity,
    'Depth': correlation_depth_depth,
    'Table': correlation_depth_table,
    'Size': correlation_depth_size,
}

# Filtracja i wypisanie silnych korelacji
for key, value in correlations_depth.items():
    if abs(value) > 0.8:
        print(f'Strong correlations exist between depth and {key}. The Pearson correlation coefficient is: {value:.2f}')

The Pearson correlation coefficient between the depth and carat is: 0.02362771773711917
The Pearson correlation coefficient between the depth and cut is: -0.2680387946103211
The Pearson correlation coefficient between the depth and color is: -0.049646416103035336
The Pearson correlation coefficient between the depth and clarity is: -0.06342472946543982
The Pearson correlation coefficient between the depth and depth is: 1.0
The Pearson correlation coefficient between the depth and table is: -0.29500289645668304
The Pearson correlation coefficient between the depth and size is: 0.004616015958288729
Strong correlations exist between depth and Depth. The Pearson correlation coefficient is: 1.00

In [17]:
correlation_table_carat = df_diamonds['Table'].corr(df_diamonds['Carat'])
print(f'The Pearson correlation coefficient between the table and carat is: {correlation_table_carat}')

correlation_table_cut = df_diamonds['Table'].corr(df_diamonds['Cut_number_classification'])
print(f'The Pearson correlation coefficient between the table and cut is: {correlation_table_cut}')

correlation_table_color = df_diamonds['Table'].corr(df_diamonds['Color_number_classification'])
print(f'The Pearson correlation coefficient between the table and color is: {correlation_table_color}')

correlation_table_clarity = df_diamonds['Table'].corr(df_diamonds['Clarity_number_classification'])
print(f'The Pearson correlation coefficient between the table and clarity is: {correlation_table_clarity}')

correlation_table_depth = df_diamonds['Table'].corr(df_diamonds['Depth'])
print(f'The Pearson correlation coefficient between the table and depth is: {correlation_table_depth}')

correlation_table_table = df_diamonds['Table'].corr(df_diamonds['Table'])
print(f'The Pearson correlation coefficient between the table and table is: {correlation_table_table}')

correlation_table_size = df_diamonds['Table'].corr(df_diamonds['Size'])
print(f'The Pearson correlation coefficient between the table and size is: {correlation_table_size}')

correlations_table = {
    'Carat': correlation_table_carat,
    'Cut': correlation_table_cut,
    'Color': correlation_table_color,
    'Clarity': correlation_table_clarity,
    'Depth': correlation_table_depth,
    'Table': correlation_table_table,
    'Size': correlation_table_size,
    }

# Filtracja i wypisanie silnych korelacji
for key, value in correlations_table.items():
    if abs(value) > 0.8:
        print(f'Strong correlations exist between table and {key}. The Pearson correlation coefficient is: {value:.2f}')

The Pearson correlation coefficient between the table and carat is: 0.18531753602149606
The Pearson correlation coefficient between the table and cut is: -0.47052269928898177
The Pearson correlation coefficient between the table and color is: -0.028757161988127902
The Pearson correlation coefficient between the table and clarity is: -0.15580955717669492
The Pearson correlation coefficient between the table and depth is: -0.29500289645668304
The Pearson correlation coefficient between the table and table is: 1.0
The Pearson correlation coefficient between the table and size is: 0.1704640234262884
Strong correlations exist between table and Table. The Pearson correlation coefficient is: 1.00

In [18]:
correlation_size_carat = df_diamonds['Size'].corr(df_diamonds['Carat'])
print(f'The Pearson correlation coefficient between the size and carat is: {correlation_size_carat}')

correlation_size_cut = df_diamonds['Size'].corr(df_diamonds['Cut_number_classification'])
print(f'The Pearson correlation coefficient between the size and cut is: {correlation_size_cut}')

correlation_size_color = df_diamonds['Size'].corr(df_diamonds['Color_number_classification'])
print(f'The Pearson correlation coefficient between the size and color is: {correlation_size_color}')

correlation_size_clarity = df_diamonds['Size'].corr(df_diamonds['Clarity_number_classification'])
print(f'The Pearson correlation coefficient between the size and clarity is: {correlation_size_clarity}')

correlation_size_depth = df_diamonds['Size'].corr(df_diamonds['Depth'])
print(f'The Pearson correlation coefficient between the size and depth is: {correlation_size_depth}')

correlation_size_table = df_diamonds['Size'].corr(df_diamonds['Table'])
print(f'The Pearson correlation coefficient between the size and table is: {correlation_size_table}')

correlation_size_size = df_diamonds['Size'].corr(df_diamonds['Size'])
print(f'The Pearson correlation coefficient between the size and size is: {correlation_size_size}')

correlations_size = {
    'Carat': correlation_size_carat,
    'Cut': correlation_size_cut,
    'Color': correlation_size_color,
    'Clarity': correlation_size_clarity,
    'Depth': correlation_size_depth,
    'Table': correlation_size_table,
    'Size': correlation_size_size,
}

# Filtracja i wypisanie silnych korelacji
for key, value in correlations_size.items():
    if abs(value) > 0.8:
        print(f'Strong correlations exist between size and {key}. The Pearson correlation coefficient is: {value:.2f}')

The Pearson correlation coefficient between the size and carat is: 0.9732552295328342
The Pearson correlation coefficient between the size and cut is: -0.14545056564118256
The Pearson correlation coefficient between the size and color is: -0.2972509134130981
The Pearson correlation coefficient between the size and clarity is: -0.3376594009594816
The Pearson correlation coefficient between the size and depth is: 0.004616015958288728
The Pearson correlation coefficient between the size and table is: 0.1704640234262884
The Pearson correlation coefficient between the size and size is: 1.0
Strong correlations exist between size and Carat. The Pearson correlation coefficient is: 0.97
Strong correlations exist between size and Size. The Pearson correlation coefficient is: 1.00

Połączenie słowników z korelacjami w data frame

In [19]:
df_correlations_carat = pd.DataFrame.from_dict(correlations_carat, orient='index', columns=['Carat'])
df_correlations_cut = pd.DataFrame.from_dict(correlations_cut, orient='index', columns=['Cut'])
df_correlations_color = pd.DataFrame.from_dict(correlations_color, orient='index', columns=['Color'])
df_correlations_clarity = pd.DataFrame.from_dict(correlations_clarity, orient='index', columns=['Clarity'])
df_correlations_depth = pd.DataFrame.from_dict(correlations_depth, orient='index', columns=['Depth'])
df_correlations_table = pd.DataFrame.from_dict(correlations_table, orient='index', columns=['Table'])
df_correlations_size = pd.DataFrame.from_dict(correlations_size, orient='index', columns=['Size'])

# Łączenie DataFrame'ów w jeden
combined_correlations_df = pd.concat([df_correlations_carat, df_correlations_cut, df_correlations_color, df_correlations_clarity, df_correlations_depth, df_correlations_table, df_correlations_size], axis=1)

# Resetowanie indeksu, aby dodać go jako kolumnę
combined_correlations_df = combined_correlations_df.reset_index()

# Zmiana nazw kolumn
combined_correlations_df.columns = ['Category', 'Carat', 'Cut', 'Color', 'Clarity', 'Depth', 'Table', 'Size']

print(combined_correlations_df)

  Category     Carat       Cut     Color   Clarity     Depth     Table  \
0    Carat  1.000000 -0.166580 -0.305725 -0.350119  0.023628  0.185318
1      Cut -0.166580  1.000000  0.036048  0.220891 -0.268039 -0.470523
2    Color -0.305725  0.036048  1.000000 -0.033114 -0.049646 -0.028757
3  Clarity -0.350119  0.220891 -0.033114  1.000000 -0.063425 -0.155810
4    Depth  0.023628 -0.268039 -0.049646 -0.063425  1.000000 -0.295003
5    Table  0.185318 -0.470523 -0.028757 -0.155810 -0.295003  1.000000
6     Size  0.973255 -0.145451 -0.297251 -0.337659  0.004616  0.170464

       Size
0  0.973255
1 -0.145451
2 -0.297251
3 -0.337659
4  0.004616
5  0.170464
6  1.000000

Segmentacja na podstawie wagi/caratu diamentu. Analiza ABC

In [20]:
carat_segmentation = df_diamonds[["Index", "Carat"]]
carat_segmentation = carat_segmentation.sort_values(by='Carat', ascending=False)
total_carat = carat_segmentation['Carat'].sum()

carat_segmentation['Percentage_share_carat'] = (carat_segmentation['Carat'] / total_carat) * 100
carat_segmentation['Cumulative_percentage_share_carat'] = carat_segmentation['Percentage_share_carat'].cumsum()

def abc_carat_segmentation(value):
    if value <= 80:
        return 'A'
    elif value <= 95:
        return 'B'
    else:
        return 'C'

carat_segmentation['Carat_ABC_segmentation'] = carat_segmentation['Cumulative_percentage_share_carat'].apply(abc_carat_segmentation)
carat_segmentation.drop(columns=["Carat","Percentage_share_carat","Cumulative_percentage_share_carat"], inplace=True)
carat_segmentation.head(60000)

       Index Carat_ABC_segmentation
22777  27416                      A
22957  27631                      A
22530  27131                      A
21579  26000                      A
21578  25999                      A
...      ...                    ...
26378  31600                      C
26376  31598                      C
26375  31596                      C
26373  31594                      C
26374  31595                      C

[44398 rows x 2 columns]

Segmentacja na podstawie cut diamentu. Analiza ABC

In [21]:
cut_segmentation = df_diamonds[["Index", "Cut_number_classification"]]
cut_segmentation = cut_segmentation.sort_values(by='Cut_number_classification', ascending=False)
total_cut = cut_segmentation['Cut_number_classification'].sum()

cut_segmentation['Percentage_share_cut'] = (cut_segmentation['Cut_number_classification'] / total_cut) * 100
cut_segmentation['Cumulative_percentage_share_cut'] = cut_segmentation['Percentage_share_cut'].cumsum()

def abc_cut_segmentation(value):
    if value <= 80:
        return 'A'
    elif value <= 95:
        return 'B'
    else:
        return 'C'

cut_segmentation['Cut_ABC_segmentation'] = cut_segmentation['Cumulative_percentage_share_cut'].apply(abc_cut_segmentation)
cut_segmentation.drop(columns=["Cut_number_classification","Percentage_share_cut","Cumulative_percentage_share_cut"], inplace=True)
cut_segmentation.head(60000)

       Index Cut_ABC_segmentation
44397  53940                    A
0          1                    A
44393  53936                    A
44388  53930                    A
44386  53927                    A
...      ...                  ...
44381  53922                    C
44382  53923                    C
44390  53933                    C
44391  53934                    C
44395  53938                    C

[44398 rows x 2 columns]

Segmentacja na podstawie color diamentu. Analiza ABC

In [22]:
color_segmentation = df_diamonds[["Index", "Color_number_classification"]]
color_segmentation = color_segmentation.sort_values(by='Color_number_classification', ascending=False)
total_color = color_segmentation['Color_number_classification'].sum()

color_segmentation['Percentage_share_color'] = (color_segmentation['Color_number_classification'] / total_color) * 100
color_segmentation['Cumulative_percentage_share_color'] = color_segmentation['Percentage_share_color'].cumsum()

def abc_color_segmentation(value):
    if value <= 80:
        return 'A'
    elif value <= 95:
        return 'B'
    else:
        return 'C'

color_segmentation['Color_ABC_segmentation'] = color_segmentation['Cumulative_percentage_share_color'].apply(abc_color_segmentation)
color_segmentation.drop(columns=["Color_number_classification","Percentage_share_color","Cumulative_percentage_share_color"], inplace=True)
color_segmentation.head(60000)

       Index Color_ABC_segmentation
44382  53923                      A
134      160                      A
44376  53917                      A
27        29                      A
44397  53940                      A
...      ...                    ...
21584  26006                      C
21597  26019                      C
30696  36995                      C
30701  37001                      C
30703  37003                      C

[44398 rows x 2 columns]

Segmentacja na podstawie clarity diamentu. Analiza ABC

In [23]:
clarity_segmentation = df_diamonds[["Index", "Clarity_number_classification"]]
clarity_segmentation = clarity_segmentation.sort_values(by='Clarity_number_classification', ascending=False)
total_clarity = clarity_segmentation['Clarity_number_classification'].sum()

clarity_segmentation['Percentage_share_clarity'] = (clarity_segmentation['Clarity_number_classification'] / total_clarity) * 100
clarity_segmentation['Cumulative_percentage_share_clarity'] = clarity_segmentation['Percentage_share_clarity'].cumsum()

def abc_clarity_segmentation(value):
    if value <= 80:
        return 'A'
    elif value <= 95:
        return 'B'
    else:
        return 'C'

clarity_segmentation['Clarity_ABC_segmentation'] = clarity_segmentation['Cumulative_percentage_share_clarity'].apply(abc_clarity_segmentation)
clarity_segmentation.drop(columns=["Clarity_number_classification","Percentage_share_clarity","Cumulative_percentage_share_clarity"], inplace=True)
clarity_segmentation.head(60000)

       Index Clarity_ABC_segmentation
25700  30807                        A
32255  38917                        A
30093  36264                        A
30094  36265                        A
30095  36266                        A
...      ...                      ...
1198    1511                        C
1213    1528                        C
43205  52423                        C
1168    1476                        C
1270    1597                        C

[44398 rows x 2 columns]

Segmentacja na podstawie size diamentu. Analiza ABC

In [24]:
size_segmentation = df_diamonds[["Index", "Size"]]
size_segmentation = size_segmentation.sort_values(by='Size', ascending=False)
total_size = size_segmentation['Size'].sum()

size_segmentation['Percentage_share_size'] = (size_segmentation['Size'] / total_size) * 100
size_segmentation['Cumulative_percentage_share_size'] = size_segmentation['Percentage_share_size'].cumsum()

def abc_size_segmentation(value):
    if value <= 80:
        return 'A'
    elif value <= 95:
        return 'B'
    else:
        return 'C'

size_segmentation['Size_ABC_segmentation'] = size_segmentation['Cumulative_percentage_share_size'].apply(abc_size_segmentation)
size_segmentation.drop(columns=["Size","Percentage_share_size","Cumulative_percentage_share_size"], inplace=True)
size_segmentation.head(60000)

       Index Size_ABC_segmentation
19945  24068                     A
40031  48411                     A
40684  49190                     A
22777  27416                     A
22957  27631                     A
...      ...                   ...
8290   10168                     C
9832   11964                     C
22853  27504                     C
22791  27430                     C
23045  27740                     C

[44398 rows x 2 columns]

Segmentacja na podstawie price diamentu. Analiza ABC

In [26]:
price_segmentation = df_diamonds[["Index", "Price"]]
price_segmentation = price_segmentation.sort_values(by='Price', ascending=False)
total_price = price_segmentation['Price'].sum()

price_segmentation['Percentage_share_price'] = (price_segmentation['Price'] / total_price) * 100
price_segmentation['Cumulative_percentage_share_price'] = price_segmentation['Percentage_share_price'].cumsum()

def abc_price_segmentation(value):
    if value <= 80:
        return 'A'
    elif value <= 95:
        return 'B'
    else:
        return 'C'

price_segmentation['Price_ABC_segmentation'] = price_segmentation['Cumulative_percentage_share_price'].apply(abc_price_segmentation)
price_segmentation.drop(columns=["Price","Percentage_share_price","Cumulative_percentage_share_price"], inplace=True)
price_segmentation.head(60000)

       Index Price_ABC_segmentation
23054  27750                      A
23053  27749                      A
23052  27748                      A
23051  27747                      A
23050  27746                      A
...      ...                    ...
4          5                      C
3          4                      C
2          3                      C
1          2                      C
0          1                      C

[44398 rows x 2 columns]

Segmentacja na podstawie depth diamentu. Analiza ABC

In [27]:
depth_segmentation = df_diamonds[["Index", "Depth"]]
depth_segmentation = depth_segmentation.sort_values(by='Depth', ascending=False)
total_depth = depth_segmentation['Depth'].sum()

depth_segmentation['Percentage_share_depth'] = (depth_segmentation['Depth'] / total_depth) * 100
depth_segmentation['Cumulative_percentage_share_depth'] = depth_segmentation['Percentage_share_depth'].cumsum()

def abc_depth_segmentation(value):
    if value <= 80:
        return 'A'
    elif value <= 95:
        return 'B'
    else:
        return 'C'

depth_segmentation['Depth_ABC_segmentation'] = depth_segmentation['Cumulative_percentage_share_depth'].apply(abc_depth_segmentation)
depth_segmentation.drop(columns=["Depth","Percentage_share_depth","Cumulative_percentage_share_depth"], inplace=True)
depth_segmentation.head(60000)

       Index Depth_ABC_segmentation
43566  52862                      A
43565  52861                      A
34659  41919                      A
38538  46680                      A
44083  53541                      A
...      ...                    ...
30309  36504                      C
13969  16858                      C
5124    6342                      C
3696    4519                      C
8473   10378                      C

[44398 rows x 2 columns]

Segmentacja na podstawie table diamentu. Analiza ABC

In [28]:
table_segmentation = df_diamonds[["Index", "Table"]]
table_segmentation = table_segmentation.sort_values(by='Table', ascending=False)
total_table = table_segmentation['Table'].sum()

table_segmentation['Percentage_share_table'] = (table_segmentation['Table'] / total_table) * 100
table_segmentation['Cumulative_percentage_share_table'] = table_segmentation['Percentage_share_table'].cumsum()

def abc_table_segmentation(value):
    if value <= 80:
        return 'A'
    elif value <= 95:
        return 'B'
    else:
        return 'C'

table_segmentation['Table_ABC_segmentation'] = table_segmentation['Cumulative_percentage_share_table'].apply(abc_table_segmentation)
table_segmentation.drop(columns=["Table","Percentage_share_table","Cumulative_percentage_share_table"], inplace=True)
table_segmentation.head(60000)

       Index Table_ABC_segmentation
42360  51343                      A
43565  52861                      A
42400  51392                      A
40828  49376                      A
43566  52862                      A
...      ...                    ...
20891  25180                      C
4830    5980                      C
18809  22702                      C
29591  35634                      C
9305   11369                      C

[44398 rows x 2 columns]

Segmentacja na podstawie wymiarów (size, carat) diamentu. Analiza ABC

In [29]:
dimension_segmentation = df_diamonds[["Index", "Carat", "Size"]].copy()
dimension_segmentation["Dimension"]=dimension_segmentation["Carat"]*dimension_segmentation["Size"]
dimension_segmentation = dimension_segmentation.sort_values(by='Dimension', ascending=False)
total_dimension = dimension_segmentation['Dimension'].sum()

dimension_segmentation['Percentage_share_dimension'] = (dimension_segmentation['Dimension'] / total_dimension) * 100
dimension_segmentation['Cumulative_percentage_share_dimension'] = dimension_segmentation['Percentage_share_dimension'].cumsum()

def abc_dimension_segmentation(value):
    if value <= 80:
        return 'A'
    elif value <= 95:
        return 'B'
    else:
        return 'C'

dimension_segmentation['Dimension_ABC_segmentation'] = dimension_segmentation['Cumulative_percentage_share_dimension'].apply(abc_dimension_segmentation)
dimension_segmentation.drop(columns=["Dimension","Carat", "Size","Percentage_share_dimension","Cumulative_percentage_share_dimension"], inplace=True)
dimension_segmentation.head(60000)

       Index Dimension_ABC_segmentation
19945  24068                          A
22777  27416                          A
22957  27631                          A
22530  27131                          A
21578  25999                          A
...      ...                        ...
20332  24521                          C
9832   11964                          C
22515  27113                          C
22791  27430                          C
22853  27504                          C

[44398 rows x 2 columns]

Segmentacja na podstawie cech jakościowych(cut, color, clarity) diamentu. Analiza ABC

In [30]:
quality_segmentation = df_diamonds[["Index", "Cut_number_classification", "Color_number_classification", "Clarity_number_classification"]].copy()
quality_segmentation["Quality"]=quality_segmentation["Cut_number_classification"]*quality_segmentation["Color_number_classification"]*quality_segmentation["Clarity_number_classification"]
quality_segmentation = quality_segmentation.sort_values(by='Quality', ascending=False)
total_quality = quality_segmentation['Quality'].sum()

quality_segmentation['Percentage_share_quality'] = (quality_segmentation['Quality'] / total_quality) * 100
quality_segmentation['Cumulative_percentage_share_quality'] = quality_segmentation['Percentage_share_quality'].cumsum()

def abc_quality_segmentation(value):
    if value <= 80:
        return 'A'
    elif value <= 95:
        return 'B'
    else:
        return 'C'

quality_segmentation['Quality_ABC_segmentation'] = quality_segmentation['Cumulative_percentage_share_quality'].apply(abc_quality_segmentation)
quality_segmentation.drop(columns=["Quality","Cut_number_classification", "Color_number_classification","Clarity_number_classification","Percentage_share_quality","Cumulative_percentage_share_quality"], inplace=True)
quality_segmentation.head(60000)

       Index Quality_ABC_segmentation
13578  16405                        A
34588  41827                        A
7812    9601                        A
3276    4001                        A
29272  35229                        A
...      ...                      ...
44381  53922                        C
44382  53923                        C
44390  53933                        C
44391  53934                        C
44395  53938                        C

[44398 rows x 2 columns]

In [31]:
# Funkcja do zamiany kropek na przecinki przy eksporcie do CSV
def format_with_comma(value):
    return str(value).replace('.', ',')

# Zamiana kropki na przecinek tylko podczas eksportu
df_correlations_price = df_correlations_price.copy()
for col in df_correlations_price.columns:
    if df_correlations_price[col].dtype == float:
        df_correlations_price[col] = df_correlations_price[col].map(format_with_comma)

combined_correlations_df = combined_correlations_df.copy()
for col in combined_correlations_df.columns:
    if combined_correlations_df[col].dtype == float:
        combined_correlations_df[col] = combined_correlations_df[col].map(format_with_comma)

df_diamonds = df_diamonds.copy()
for col in df_diamonds.columns:
    if df_diamonds[col].dtype == float:
        df_diamonds[col] = df_diamonds[col].map(format_with_comma)

In [36]:
# Podaj ścieżkę do lokalizacji
base_path = 'C:/Users/sqladmin/Desktop/'

# Lista DataFrame'ów i odpowiadających im nazw plików
data_frames = [df_correlations_price, combined_correlations_df, df_diamonds, carat_segmentation, cut_segmentation, color_segmentation, clarity_segmentation, size_segmentation, price_segmentation, depth_segmentation, table_segmentation, dimension_segmentation, quality_segmentation]
file_names = ['df_correlations_price.csv', 'combined_correlations_df.csv', 'diamonds1.csv', 'carat_segmentation.csv', 'cut_segmentation.csv', 'color_segmentation.csv', 'clarity_segmentation.csv', 'size_segmentation.csv', 'price_segmentation.csv', 'depth_segmentation.csv', 'table_segmentation.csv', 'dimension_segmentation.csv', 'quality_segmentation.csv']

# Zapisanie DataFrame'ów do plików CSV w podanej lokalizacji
for df, file_name in zip(data_frames, file_names):
    file_path = base_path + file_name
    df.to_csv(file_path, index=False)
    print(f"DataFrame został zapisany do pliku {file_path}")

DataFrame został zapisany do pliku C:/Users/sqladmin/Desktop/df_correlations_price.csv
DataFrame został zapisany do pliku C:/Users/sqladmin/Desktop/combined_correlations_df.csv
DataFrame został zapisany do pliku C:/Users/sqladmin/Desktop/diamonds1.csv
DataFrame został zapisany do pliku C:/Users/sqladmin/Desktop/carat_segmentation.csv
DataFrame został zapisany do pliku C:/Users/sqladmin/Desktop/cut_segmentation.csv
DataFrame został zapisany do pliku C:/Users/sqladmin/Desktop/color_segmentation.csv
DataFrame został zapisany do pliku C:/Users/sqladmin/Desktop/clarity_segmentation.csv
DataFrame został zapisany do pliku C:/Users/sqladmin/Desktop/size_segmentation.csv
DataFrame został zapisany do pliku C:/Users/sqladmin/Desktop/price_segmentation.csv
DataFrame został zapisany do pliku C:/Users/sqladmin/Desktop/depth_segmentation.csv
DataFrame został zapisany do pliku C:/Users/sqladmin/Desktop/table_segmentation.csv
DataFrame został zapisany do pliku C:/Users/sqladmin/Desktop/dimension_segmentation.csv
DataFrame został zapisany do pliku C:/Users/sqladmin/Desktop/quality_segmentation.csv